.hnt-cross-container {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 75px;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translate(50%, -50%);
}

.hnt-cross-container img {
    width: 34px;
    height: 34px;
}